<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<!--Content for Add Page-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="reportTextField">Date of Report</label>
                    <input type="text" class="form-control" id="reportTextField" placeholder="Enter the Date of Report" name="DateofReport" required>
                </div>
                <div class="form-group"> 
                    <label for="nameTextField">Full Name</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter Full Name" name="FullName" required> 
                </div>
                <div class="form-group"> 
                    <label for="locationTextField">Location</label>
                    <input type="text" class="form-control" id="locationTextField" placeholder="Enter the Location of Incident" name="Location" required>
                </div>
                <div class="form-group">
                    <label for="descriptionTextArea">Incident Description</label>
                    <textarea type="text" class="form-control" id="descriptionTextArea"  placeholder="Enter the Incident Description" name="IncidentDescription" required></textarea>
                </div>
                <div class="form-group">
                    <label for="witnessTextField">Witness?</label>
                    <input type="text" class="form-control" id="witnessTextField" placeholder="Yes/No" name="Witness" required>
                </div>
                <button class="btn btn-primary" type="submit">Submit
                <i class="fas fa-edit"></i></button>  
                <button class="btn btn-warning" type="submit">Cancel
                    <i class="fas fa-undo"></i></button>    
            </form>
        </div>
    </div>
</div>
<%- include ../Partials/footer.ejs%>
