<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<link rel='stylesheet' href='/public/Content/about.css' />
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
<link
href="https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Herr+Von+Muellerhoff&display=swap"
rel="stylesheet">
    <!--Main content-->
    <h1><%= title %></h1>
    <h2> Our Mission</h1>
    <h5> We created this site as a way for all faculty to address concerns related to our University. Should there be any complaints or concerns, you can login to view our forms. We will work diligently to address these issues. </h5>
    <h5> Once a form is submitted, it does take about 3-5 days for a team member to reach out! so do not be worried if we do not reach out right away.</h5>
<%- include Partials/footer.ejs%>