<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='/public/Content/contact.css' />
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
<link
href="https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Herr+Von+Muellerhoff&display=swap"
rel="stylesheet">
</head>
<body>
    <!--Main content-->
    <h1><%= title %></h1>
    <h2> Our Team</h2>
    <h5> Our team consists of 3 people. Asad, Ayan and Aleena. Any of us are available for contact if need be. </h5>
      <!-- Team Images -->
       <div>
        <img src="/Assets/images/aleena.png" alt="Aleena">
       </div>
       <br>
       <p>Aleena Khan</p>
       <p> aleena.khan4@ontariotechu.net</p>
       <p> 705-770-3313</p>
       <div>
        <img src="/Assets/images/asad.png" alt="Asad">
       </div>
       <br>
       <p>Asad Gohar</p>
       <p> asad.gohar@ontariotechu.net</p>
       <div>
        <img src="/Assets/images/ayan.png" alt="Ayan">
       <p>Ayyan Majid</p>
       <p>ayyan.majid@ontariotechu.net</p>
       </div>


<%- include Partials/footer.ejs%>