<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='/Content/index.css' />
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
<link
href="https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Herr+Von+Muellerhoff&display=swap"
rel="stylesheet">
</head>
<body>

    <!--Main content-->
    <br><br><br><br>
    <h1><%= title %></h1>
    <br><br><br><br>
    <h3> Hello all OTU Faculty and staff. Welcome to our incident management site.</h3>
    <br><br><br><h3>Click any of the links on the right to explore. Login to proceed with forms.</h3>
<%- include Partials/footer.ejs%>