
.img1 {
    float: left;
  width: 33.33%;
  padding: 5px;
}
.img2 {
    float: left;
    width: 33.33%;
    padding: 5px;
}
.img3{
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after{
  content: "";
  clear: both;
  display: table;  
}
html {

}
p{

}
h1{

}
h2{

}
h5{

}