<%- include ../Partials/header.ejs %>
<%- include ../Partials/main_nav.ejs %>
<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='/Content/register.css' />
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
<link
href="https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Herr+Von+Muellerhoff&display=swap"
rel="stylesheet">
</head>
<body>
    
<main class="container">
    <!-- Message Area -->
    <% if (message && message.length > 0) { %>
        <div class="alert alert-danger">
            <%= message %>
        </div>
    <% } %>

    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1>Please Register</h1>
            <form method="post" action="/register" autocomplete="off">
                <!-- Username -->
                <fieldset class="form-group">
                    <label for="username">Username</label>
                    <input
                        type="text"
                        class="form-control"
                        name="username"
                        id="username"
                        placeholder="Enter the username"
                        required
                        autofocus
                    />
                </fieldset>

                <!-- Password -->
                <fieldset class="form-group">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        name="password"
                        id="password"
                        placeholder="Enter the password"
                        required
                    />
                </fieldset>

                <!-- Email -->
                <fieldset class="form-group">
                    <label for="email">Email</label>
                    <input
                        type="email"
                        class="form-control"
                        name="email"
                        id="email"
                        placeholder="Enter the email"
                        required
                    />
                </fieldset>

                <!-- Display Name -->
                <fieldset class="form-group">
                    <label for="displayName">Display Name</label>
                    <input
                        type="text"
                        class="form-control"
                        name="displayName"
                        id="displayName"
                        placeholder="Enter the display name"
                        required
                    />
                </fieldset>

                <!-- Submit and Cancel -->
                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Register" />
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel" />
                    </a>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<%- include ../Partials/footer.ejs %>
